@media screen and (max-width: 600px) {
    .hidden {
      display: none;
    }
}

@media screen and (max-width: 991px) {
    .feat {
        max-width: 50%;
    }
    .fleft {
        float: left;
    }
    .fright {
        float: right;
    }
    .feat-main {
        display: inline-block;
    }    
}

@media screen and (min-width: 992px) {
    .middle {
        display: inline-block;
        max-width: 100%;
    }
    .main-content {
        display: inline;
        float: left;
    }
    .contasi {
        max-width: 30%;
        display: inline;
        float: right;
    }
    .main-content, .foot {
        max-width: 70%;  
    }
    .sectbot {
        display: inline;
    }
    .sectbot2 {
        margin-top: 20px;
        float: right;
    }
    .feat {
        max-width: 70%;
        margin: 0 auto;
    }
}