figure {
    max-width: 900px;
    margin-bottom: 15px;
    margin-inline-start: 0;
}

.nav1, .contnavtop {
    max-width: 100%;
    margin: 0 auto;
}
.nav2 {
    margin-top: 20px;
    padding: 15px;
}
.nav2bot {
    margin-top: 15px;
}

.nav2esp {
    margin-top: -5px;
    float: right;
}

.reltop {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectbot {
    margin-top: 10px;
}

.foot {
    margin: 0 auto;
}

.navasi {
    padding-inline-start: 0px;
}
.navasi li {
    margin-top: 20px;
}

/*posiciones en etiquetas dentro de clases*/
.nav1 li {
    padding: 5px 25px;
}
.nav2 li {
    padding: 5px 10px;
}
.sectbot2 p{
    margin-top: 40px;
}
.topic {
    padding-inline-start: 0px;
}
.topic li {
    display: inline;
}
.feat img {
    display: block;
    margin-bottom: 10px;
}

/*posiciones generales*/
.width-900 {
    width: 100%;
}
.max-w550 {
    max-width: 550px;
}

/*-----------------efectos-------------------------------*/

/* efectos a etiquetas*/
h1 {
    font-family: Helvetica;
    font-size: 50px;
}
h2 {
    font-family: Helvetica;
    font-size: 35px;
}
h3 {
    color: black;
    font-weight: bold;
}
p {
    font-family: Helvetica;
    max-width: 700px;
    font-weight: 500;
    color: #303030;
}
figcaption {
    font-family: Helvetica;
    color: #303030;
    font-size: 12px;
    border-left: 1px solid #303030;
    padding-left: 15px;
}

/*pseudo a etiquetas*/
a:link {
    color: black;
    font-weight: 600;
}
a:hover{
    color: #ff0000;
}

/*efectos a etiquetas dentro de clases*/
.nav1 li {
    display: inline;
    border-right: 1px solid #303030;
    text-align: center;
}
.nav1 a:link {
    text-decoration: none;
    color: black;
}
.nav1 a:hover {
    color: black;
}
.nav1 a:visited {
    color: black;
}

.nav2 li {
    display: inline;
    border-right: 1px solid white;
    text-align: center;    
}
.nav2 a:link {
    text-decoration: none;
    color: white;
}
.nav2 a:visited {
    color: white;
}

.topic a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.topic a:hover, a:active {
    background-color: red;
    color: white;
}

.foot p {
    font-size: 25px;
    color: white;
}
.footlist {
    display: inline;
    padding: 10px 20px;
    text-align: center;
    color: white;
}
.footlist a {
    text-decoration: none;
    color: white;
}

.contasi a {
    font-size: 20px;
}
.contasi li {
    list-style-type: none;
}

/*efectos a clases*/
.nav2 {
    background-color: red;
}
.nav2news {
    font-size: 40px;
}
.artli {
    font-family: Helvetica;
}
.content-foot {
    background-color: #282828;
}
.navasi {
    background-color: cornsilk;
}